@model SzczesliwyPlecak.Models.Trip

@{
    ViewData["Title"] = "Stwórz wycieczkę";
}

<h1>Stwórz wycieczkę</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Data</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInDays" class="control-label">Długość wycieczki (w dniach)</label>
                <input asp-for="DurationInDays" class="form-control" />
                <span asp-validation-for="DurationInDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTimeHiking" class="control-label">Łączny czas marszu (w godzinach)</label>
                <input asp-for="TotalTimeHiking" class="form-control" />
                <span asp-validation-for="TotalTimeHiking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemaleParticipants" class="control-label">Liczba kobiet</label>
                <input asp-for="FemaleParticipants" class="form-control" />
                <span asp-validation-for="FemaleParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaleParticipants" class="control-label"> Liczba mężczyzn </label>
                <input asp-for="MaleParticipants" class="form-control" />
                <span asp-validation-for="MaleParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz wycieczkę" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy wycieczek</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
