@model SzczesliwyPlecak.Models.Trip

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInDays" class="control-label"></label>
                <input asp-for="DurationInDays" class="form-control" />
                <span asp-validation-for="DurationInDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesNeeded" class="control-label"></label>
                <input asp-for="CaloriesNeeded" class="form-control" />
                <span asp-validation-for="CaloriesNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatNeeded" class="control-label"></label>
                <input asp-for="FatNeeded" class="form-control" />
                <span asp-validation-for="FatNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarbohydratesNeeded" class="control-label"></label>
                <input asp-for="CarbohydratesNeeded" class="form-control" />
                <span asp-validation-for="CarbohydratesNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FibreNeeded" class="control-label"></label>
                <input asp-for="FibreNeeded" class="form-control" />
                <span asp-validation-for="FibreNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProteinsNeeded" class="control-label"></label>
                <input asp-for="ProteinsNeeded" class="form-control" />
                <span asp-validation-for="ProteinsNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaltNeeded" class="control-label"></label>
                <input asp-for="SaltNeeded" class="form-control" />
                <span asp-validation-for="SaltNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
